@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

:root{
    background-image: url("../Images/desert.png");
}

[data-theme="night"]{
    background-image: url("../Images/desert-night.png");
}

[data-theme="sunset"]{
    background-image: url("../Images/desert-sunset.png");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;  
    background-image: var(--background-image);
    background-size: cover;
    color: white;
    transition: 0.2s;
    position: relative;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(143, 138, 138, 0.11);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.103);
}

h1{
    font-size: 55px;
    margin-bottom: 10px;
}

.main_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.main_nav a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    background-color: transparent;
    margin: 5px;
    border: solid white 1px;
    transition: 0.1s;
    font-size: 14px;
}

.main_nav a ion-icon{
    margin-right: 5px;
}

.main_nav a:hover{
    color: black;
    background-color: white;
}

#switchthemme_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;   
    font-size: 20px;
    border-radius: 5px;
}

#switchthemme_btn:hover{
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.11);
}

