@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;  
}

.main_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}